<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- Quyền sử dụng -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Tính năng máy ảnh -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".View.CheckinDone"
            android:exported="false" />
        <activity
            android:name=".View.ListStudentView"
            android:exported="false" />
        <activity
            android:name=".View.CameraCheckin"
            android:exported="false" /> <!-- detailLesson Activity -->
        <activity
            android:name=".View.detailLesson"
            android:exported="false" /> <!-- home Activity -->
        <activity
            android:name=".View.home"
            android:exported="false" /> <!-- signup Activity -->
        <activity
            android:name=".View.signup"
            android:exported="false" /> <!-- signin Activity -->
        <activity
            android:name=".View.signin"
            android:exported="false" /> <!-- MainActivity được khởi chạy đầu tiên -->
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>